{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
    <h2 align="center">青少年比赛</h2>
    <div class="weui-panel__bd">
                <a href="/view/teenGameApply/list_more.html" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{% static 'pingchao/img/list_icon.png' %}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">比赛一</h4>
                        <p class="weui-media-box__desc">1月1日校长杯在小球馆举行</p>

                    </div>
                </a>
                <a href="" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{% static 'pingchao/img/list_icon.png' %}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">比赛二</h4>
                        <p class="weui-media-box__desc">2月2号在福田举行比赛</p>
                    </div>
                </a>
            </div>
{% endblock main %}
