{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
  <div class="logoBar"><img src="{% static 'pingchao/img/SIMSlogo.png' %}" alt="SZU logo"></div>
    <img src="{% static 'pingchao/img/cool1.jpg' %}" class="logo" alt="picture">
    <div class="container">
        <a href="./view/teenGameApply/list.html">
            <div class="leftBig registDIV" style="background-color: #FF9999">
                青少年比赛报名
            </div>
        </a>
        <a href="/">
            <div class="rightSmall registInfoDIV" style="background-color: #996699">
                报名信息
            </div>
        </a>
        <a href="/">
            <div class="rightSmall creditExchangeDIV" style="background-color: #FFCCCC">
                积分兑换
            </div>
        </a>
    </div>
    <div class="container">
        <a href="./view/pingchaoGame/select.html">
            <div class="leftBig buyTicket" style="background-color: #FFCCCC">
                乒超联赛购票
            </div>
        </a>
        <a href="/">
            <div class="rightSmall bookingInfo" style="background-color: #996699">
                购票信息
            </div>
        </a>
        <a href="/view/root/login.html">
            <div class="rightSmall other" style="background-color: #FF9999">
                其他
            </div>
        </a>
    </div>
{% endblock main %}