{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
      body {
        /*sbackground: url(../../img/乒超赛事图片.jpg) #fafafc no-repeat center 1px;*/
    }
    .head{
        height: 100px;
    }
{% endblock style %}

{% block main %}
        <article class="weui-article">
              <img src="{% static 'pingchao/img/青少年比赛.jpg' %}" alt="">
    <p>
        注意事项：<br/>
1、参赛运动员必须符合《2015—2018年江西省青少年体育竞赛管理规定中参赛运动员资格的有关规定。<br/>
2、赛前将对九年义务教育阶段运动员进行文化测试，凡测试不合格者一律不得参赛。<br/>
    </p>
    </article>

        <div class="weui-cells weui-cells_form">
        <!-- 姓名 -->
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type=""  placeholder="请输入姓名"/>
                </div>
            </div>

           <!-- 性别 -->
        <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">性别</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="select2">
                        <option value="">请选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- 手机 -->
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">手机号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" placeholder="请输入11位手机号"/>
                </div>
            </div>
        <!-- 学号 -->
          <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">学号</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入10位学号"/>
                </div>
            </div>
        <!-- 学院 -->
        <div class="weui-cell weui-cell_select weui-cell_select-after">
                <div class="weui-cell__hd">
                    <label for="" class="weui-label">学院</label>
                </div>
                <div class="weui-cell__bd">
                    <select class="weui-select" name="college">
                        <option value="">请选择</option>
                        <option value="1">计算机与软件学院</option>
                        <option value="2">信息工程学院</option>
                        <option value="3">师范学院</option>
                    </select>
                </div>
            </div>
        </div>


        <!-- 提交按钮 -->
         <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary"  href="/view/pingchaoGame/sueecss.html" id="showTooltips">确定</a>
        </div>

        </div>

{% endblock main %}
