{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
       .main{
            text-align: center;
       }
{% endblock style %}

{% block main %}
  <div class="main">
     <!-- <h2 align="center">请问您是校外人士还是校内学生</h2> -->
    <a href="/view/pingchaoGame/form_student.html">
        <div class="select registInfoDIV" style="background-color: #FF9999">
            校内
        </div>
    </a>

    <a href="/view/pingchaoGame/form_notstudent.html">
         <div class="select registInfoDIV"  style="background-color: #FFCCCC">
            校外
        </div>
    </a>

    </div>
{% endblock main %}