{% extends 'base.html' %}
{% load staticfiles %}

{% block main %}
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">报名成功</h2>
        <p class="weui-msg__desc">请你于x月x日x点前到x参加比赛</br>谢谢！</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:history.back();" class="weui-btn weui-btn_primary">确定</a>
            <!-- <a href="javascript:history.back();" class="weui-btn weui-btn_default"></a> -->
        </p>
    </div>

</div>
{% endblock main %}
